flask
flask-smorest
python-dotenv
marshmallow
sqlalchemy
flask-sqlalchemy
flask-jwt-extended
passlib
flask-migrate
Werkzeug
markupsafe
click
blinker
colorama
apispec
itsdangerous
jinja2
mako
packaging
webargs
wheel